<ion-view view-title="Someday">
    <ion-content>

        <button class="button button-outline icon-left ion-plus button-positive"
                style='margin-top: 5px; margin-bottom: 5px; margin-left: 5px; text-align-last: right;'
                ng-click="add()">
            Add a new todo
        </button>

        <ion-refresher on-refresh="doRefresh()">

        </ion-refresher>
        <ion-checkbox ng-repeat="item in items"
                      ng-model="item.checked"
                      ng-checked="item.checked"
                      ng-click="check(item.id)">
            {{ item.text }}
        </ion-checkbox>
    </ion-content>
</ion-view>
